<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!--<ul class="col-sm-9 navbar-nav mr-auto row">
      <li class="nav-item active">
        <a class="nav-link" href="#" translate>app.name <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>-->
    <div class="col-sm"></div>
    <a class="col-sm-1" (click)="setLanguage('en');" style="text-align: right"><img class="flags" src="assets/img/flags/en.png"/></a>
    <a class="col-sm-1" (click)="setLanguage('de');" style="text-align: right"><img class="flags" src="assets/img/flags/de.png"/></a>
  </div>

</nav>