.flags {
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    align-content: center
}

.vertical-center {
    padding-top: 1%;
    padding-bottom: 1%;
    background-size: cover;
    background-position: center;
}

.vertical-center2 {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
