<div class="container card fixed-top bg-faded text-center">
    <div class="row">
      <div class="col-sm card">
        TEST
      </div>
      <div class="col-sm card">
        Youth-Club-Stage
      </div>
      <div class="col-sm card">
        <div *ngIf="!isLoggedIn()" class="card-block">
            <button class="btn btn-social-icon btn-google mx-1" (click)="signInGoogle()"><span class="fa fa-google"></span></button>
            <button class="btn btn-social-icon btn-facebook mx-1" (click)="signInFacebook()"><span class="fa fa-facebook"></span></button>
        </div>
        <div *ngIf="isLoggedIn()" class="card-block">
            LOGGED IN
            <button class="btn btn-danger" (click)="signOut()">Sign out</button>
        </div>
      
      </div>
    </div>
  </div>