<div class="text-center page">
    <div class="row">
    <div class="col-sm card bg-secondary text-light">
        <h3 class="card-header bg-secondary" translate>app.home.imprint.header</h3>
        <div class="card-body">  
            Johannes Weigel<br>
            Lilienstraße 14<br>
            90439 Nürnberg, DE
        </div>
        <div class="card-body">
            <span translate>app.home.imprint.phone</span>: +49-160-93522076<br>
            <span translate>app.home.imprint.mail</span>: contact@youth-club-stage.de<br>
        </div>
    </div>
</div>  